.made-with{
  font-family: Righteous;
  font-size:0.7em;
  position:absolute;
  bottom:10px;
  left:20px;
  color:white;
  ul{
    list-style:none;
    display:flex;
    flex-direction:row;
    padding:2px;
    font-size:2em;
    li{
      padding:2px;
    }
  }
}
