@import url("https://fonts.googleapis.com/css?family=Oxanium|Righteous&display=swap");
.brand {
  font-family: 'Righteous';
  color: white;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 1.5rem;
  transition: transform 0.5s;
  z-index: 10;
  cursor: default; }
  .brand a {
    text-decoration: none; }
    .brand a:hover {
      color: white;
      text-decoration: none; }
    .brand a:visited {
      color: white; }
    .brand a:-webkit-any-link {
      color: white; }

.made-with {
  font-family: Righteous;
  font-size: 0.7em;
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white; }
  .made-with ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 2px;
    font-size: 2em; }
    .made-with ul li {
      padding: 2px; }

body {
  background: darkslategrey;
  background: linear-gradient(225deg, #001424 0%, #403d3d 0%, #2d3030 9%, #101011 100%);
  position: relative;
  margin: 0; }

header {
  width: 100%;
  height: auto;
  color: white;
  font-size: 2.2em;
  padding: 25px;
  width: 17vw;
  min-width: 150px;
  margin: 40px auto;
  text-align: center;
  line-height: 1.5em;
  font-family: "Righteous"; }

#markdown {
  display: flex;
  flex-flow: space-between;
  flex-direction: row;
  justify-content: center; }

.section {
  display: flex;
  flex-direction: column;
  font-family: Righteous; }

.section span {
  color: white;
  font-size: 1.8em;
  align-self: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

#preview {
  font-size: 1.1em;
  font-family: Oxanium;
  width: 35vw;
  min-height: 70vh;
  background: #fafaf0;
  box-shadow: inset 0px -0.5px 2px black, 0px 10px 50px -5px black;
  color: black;
  margin: 0px 0px 50px 20px;
  padding: 15px;
  z-index: 5;
  overflow: scroll-y;
  position: relative; }

#editor {
  position: relative;
  box-sizing: content-box;
  width: 40vw;
  min-height: 70vh;
  background: black;
  box-shadow: inset 0px -1px 2px rgba(200, 255, 100, 0.5), 0px 10px 50px -5px black;
  resize: vertical;
  color: lightgreen;
  padding: 15px 15px;
  margin: 0px 0px 50px 0px;
  overflow: scroll-y; }

#editor:hover {
  outline: 3px solid lightblue; }

#editor::before {
  content: ""; }

#preview:hover {
  outline: 3px solid lightblue; }

#editor:focus {
  outline: 5px solid lightblue; }

@media (max-width: 700px) {
  #markdown {
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  #preview {
    margin: 20px 0px 70px 0px; }
  #editor {
    resize: vertical;
    width: 90vw; }
  #preview {
    width: 90vw; } }
